<!--**********************************
            Sidebar start
        ***********************************-->
<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">

            <li>
                <a class="has-arrow ai-icon" href="index.php" aria-expanded="false">
                    <i class="flaticon-381-networking"></i>  Dashboard
                </a>

            </li>
            <li>
                <a class="has-arrow ai-icon" href="campaign.php" aria-expanded="false">
                    <i class="flaticon-381-notepad"></i> Campaigns
                </a>
            </li>
            <li>
                <a class="has-arrow ai-icon" href="new-campaign.php" aria-expanded="false">
                    <i class="flaticon-381-plus"></i> Create  Campaign
                </a>
            </li>
            <li>
                <a class="has-arrow ai-icon" href="hot_leads.php" aria-expanded="false">
                    <i class="flaticon-381-settings-2"></i> Hot Leads
                </a>
            </li>
            <li>
                <a class="has-arrow ai-icon" href="calender.php" aria-expanded="false">
                    <i class="flaticon-381-controls-3"></i> Calender
                </a>
            </li>
            <li>
                <a class="has-arrow ai-icon" href="Phonebook.php" aria-expanded="false">
                    <i class="flaticon-381-television"></i> My Phonebook
                </a>
            </li>

            <li>
                <a class="has-arrow ai-icon" href="upcoming_campaign.php" aria-expanded="false">
                    <i class="flaticon-381-internet"></i>  Upcoming Campaigns
                </a>
            </li>




        </ul>
        <div class="copyright">
            <br />© All Rights Reserved</p>
            <p>By Reliance </p>
        </div>
    </div>
</div>
<!--**********************************
    Sidebar end
***********************************-->
<!--**********************************
    Sidebar end
***********************************-->
