
@{
    ViewBag.Title = "UserTimeLine";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="row">

    <div class="col-xl-6 col-lg-12">
        <div class="card">
            <div class="card-header border-0 pb-0">
                <h4 class="card-title">Leads</h4>
            </div>
            <div class="card-body">
                <div id="DZ_W_TimeLine1" class="widget-timeline dz-scroll style-1 height370">
                    <ul class="timeline">
                        @foreach (var item in ViewBag.timeline)
                        {
                            <li>
                                <div class="timeline-badge primary"></div>
                                <a class="timeline-panel text-muted" href="#">
                                    <span>@item.SHC_DATE.ToString("dd-MM-yyyy")</span>
                                    <h6 class="mb-0">LEADS <strong class="text-primary">@item.SHC_SAPCODE</strong></h6>
                                    <h6 class="mb-0">SHARE <strong class="text-primary">@item.SHC_SHARECOUNT</strong>.</h6>
                                </a>
                            </li>
                        }

                        @*<li>
            <div class="timeline-badge info">
            </div>
            <a class="timeline-panel text-muted" href="#">
                <span>20 minutes ago</span>
                <h6 class="mb-0">New order placed <strong class="text-info">#XF-2356.</strong></h6>
                <p class="mb-0">Quisque a consequat ante Sit amet magna at volutapt...</p>
            </a>
        </li>
        <li>
            <div class="timeline-badge danger">
            </div>
            <a class="timeline-panel text-muted" href="#">
                <span>30 minutes ago</span>
                <h6 class="mb-0">john just buy your product <strong class="text-warning">Sell $250</strong></h6>
            </a>
        </li>
        <li>
            <div class="timeline-badge success">
            </div>
            <a class="timeline-panel text-muted" href="#">
                <span>15 minutes ago</span>
                <h6 class="mb-0">StumbleUpon is acquired by eBay. </h6>
            </a>
        </li>
        <li>
            <div class="timeline-badge warning">
            </div>
            <a class="timeline-panel text-muted" href="#">
                <span>20 minutes ago</span>
                <h6 class="mb-0">Mashable, a news website and blog, goes live.</h6>
            </a>
        </li>
        <li>
            <div class="timeline-badge dark">
            </div>
            <a class="timeline-panel text-muted" href="#">
                <span>20 minutes ago</span>
                <h6 class="mb-0">Mashable, a news website and blog, goes live.</h6>
            </a>
        </li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>